<%- include("header") %>

    <div class="box" id="heading">
        <h1>
            <%= heading %>
        </h1>
    </div>
    <div class="box" id="middle">
        <% items.forEach(item=> { %>
            <form action="/delete" method="post">
                <div class="task box">
                    <input type="checkbox" onChange="this.form.submit()" name="checkBox" value="<%= item._id%> ">
                    <p>
                        <%= item.name %>
                    </p>
                </div>
            </form>
            <% }); %>

                <form class="task" action="/" method="post">
                    <input type="text" placeholder="Enter Your Next Task!" name="nextItem" autocomplete="off">
                    <button type="submit" name="button" value=<%=heading %>>+</button>
                </form>

                <%- include("footer") %>