<%- include("header") %>

    <div class="box" id="heading">
        <h1>
            <%= heading %>
        </h1>
    </div>
    <div class="box" id="middle">
        <% for(var i=0; i < newTasks.length ; i++){ %>
            <div class="task box">
                <input type="checkbox">
                <p>
                    <%= newTasks[i] %>
                </p>
            </div>
            <% } %>

                <form class="task" action="/" method="post">
                    <input type="text" placeholder="Enter Your Next Task!" name="nextTask" autocomplete="off">
                    <button type="submit" name="List" value=<%=heading %>>+</button>
                </form>

                <%- include("footer") %>